<mat-sidenav-container class="sidenav-container">

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>

      <mat-accordion>
        <!-- BANK -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>Bank</mat-expansion-panel-header>
          <a mat-list-item routerLink="" routerLinkActive="active">Home</a>
          <a mat-list-item routerLink="currency" routerLinkActive="active">Currency</a>
        </mat-expansion-panel>

        <!-- ADMIN -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>Admin</mat-expansion-panel-header>
          <a mat-list-item routerLink="sysview" routerLinkActive="active">Actuator</a>
          <hr>
          <a mat-list-item href="/v2/api-docs" target="_blank">API-Docs</a>
          <a mat-list-item href="/swagger-ui.html" target="_blank">Swagger UI</a>
        </mat-expansion-panel>

      </mat-accordion>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="logout()">
          <mat-icon aria-label="Side nav toggle icon">logout</mat-icon>
        </button>
        <img src="../../assets/banner.jpg" class="banner">
      </mat-toolbar>
    </div>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
