<mat-card>
  <mat-card-title>Welcome to the Bank of Karabroxos</mat-card-title>
  <mat-card-content>

    <p>
      The Bank of Karabraxos is a financial institution used by the ultra-wealthy of the galaxy. It is the most secure
      bank in the galaxy: no one stepped foot on the planet without protocols, all movement is monitored, air
      consumption was regulated and DNA is required at every stage. Therefore, extremely valuable items are stored in
      the bank as well.
    </p>

    <a href="http://tardis.wikia.com/wiki/Bank_of_Karabraxos" target="_blank">Tardis Wiki Page</a>
  </mat-card-content>
</mat-card>

