<mat-card>
  <mat-card-title>Currency</mat-card-title>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div fxLayout="column" fxLayoutAlign="start start">
        <bs-currency-editor (onSave)="saveCurrency($event)"></bs-currency-editor>
        <bs-currency-table #table></bs-currency-table>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <bs-currency-chart></bs-currency-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>


